body {
  margin: 0;
  padding: 0;
  animation: bgcolor infinite 15s;
}
@keyframes bgcolor{
  0%{
    background: #0abde3 ;
  }
  20%{
    background: #48dbfb;
  }
  40%{
    background: #f368e0;
  }
  60%{
    background: #ff9ff3;
  }
  80%{
    background: #ee5253;
  }
  100%{
    background: #48dbfb;
  }
}
.player {
  margin-left: 650px;
  margin-top: 300px;
}
.player button {
  border: none;
  height: 70px;
  width: 70px;
  font-size: 24px;
  border-radius: 50%; 
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  background: #B9B9B9;

}
.duration {
  margin-left: 695px;
  position: absolute;
  margin-top: 260px;
}

form.search input[type=text] {
  margin-left: 210px;
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 40%;
  background: #f1f1f1;
}

form.search button {
  float: left;
  width: 7%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.search button:hover {
  background: #0b7dda;
}

form.search::after {
  content: "";
  clear: both;
  display: table;
}
.mp3 {
  position: fixed;
  background-color: #333A47;  
  top: 20%;
  left: 40%;
  font-family: arial, sans-serif;
  color: #FFFFFF;
}

.mp3 th {
  border: 1px solid #000000;
  background-color: #333A47;
  text-align: center;
  font-family: Calibri;
  font-style: normal;
  color: #FFFFFF;
  padding: 8px;
}

.mp3 td {
  border: 1px solid #000000;
  text-align: center;
  padding: 8px;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #333A47;
  position: fixed;
  height: 100%;
  overflow: auto;
}
.sidebar button {
  background-color: #444E60;
  color: white;
  padding: 10px 16px;
  margin:2px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.sidebar button:hover {
  opacity: 0.8;
}
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}