<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
<style>
  h3 {
  margin-left: 330px;
}
 table {
   width: 800px;
 } 
.mp3 {
  position: fixed;
  background-color: #333A47;  
  top: 20%;
  left: 30%;
  font-family: arial, sans-serif;
  color: #FFFFFF;
}

.mp3 th {
  border: 1px solid #000000;
  background-color: #333A47;
  text-align: center;
  font-family: Calibri;
  font-style: normal;
  color: #FFFFFF;
  padding: 8px;
}

.mp3 td {
  border: 1px solid #000000;
  text-align: center;
  padding: 8px;
}
form.search input[type=text] {
  margin-left: 330px;
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 40%;
  background: #f1f1f1;
}

form.search button {
  float: left;
  width: 7%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.search button:hover {
  background: #0b7dda;
}

form.search::after {
  content: "";
  clear: both;
  display: table;
}
.player {
  margin-left: 650px;
  margin-top: 300px;
}
.player button {
  border: none;
  height: 70px;
  width: 70px;
  font-size: 24px;
  border-radius: 50%; 
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  background: #B9B9B9;

}
.duration {
  margin-left: 695px;
  position: absolute;
  margin-top: 260px;
}
</style>

  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->

    <form class="search" action="/action_page.php">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
 <h3>All Songs</h3>
    <div class="duration">
        <input type="range" min="0" max="100" value="0">
      </div>
                 
      <div class="player">
                 <button class="fa fa-step-backward"></button>
                 <button class="fa fa-play"></button>
                 <button class="fa fa-step-forward"></button>
             </div>
            
    <div class="mp3">
        <table>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Artist</th>
            <th>Album</th>
            <th>Duration</th>
          </tr>
        
          <tr>
            <td>
              <button><i class="fa fa-play"></i></button>
            </td>
            <td>Some Title</td>
            <td>Some Artist</td>
            <td>Some Album</td>
            <td>3:45</td>
            
          </tr>
        
          <tr>
            <td>
              <button><i class="fa fa-play"></i></button>
            </td>
            <td>Some Title</td>
            <td>Some Artist</td>
            <td>Some Album</td>
            <td>3:45</td>
            
          </tr>

  </body>
</html>
