<template>
    <div> 



    <b-button v-b-toggle.sidebar-no-header squared variant="secondary">MP3 Menu</b-button>
    <b-sidebar id="sidebar-no-header" aria-labelledby="sidebar-no-header-title" no-header shadow bg-variant="dark">
    <template #default="{ hide }">

    <img src="@/assets/unnamed.png" width="200px">

    <b-button-group vertical class="w-100">

    <br><b-button squared variant="danger" block @click="hide">Close Menu</b-button>
    <b-button v-b-modal.modal-1 squared>Upload Music</b-button>
    <b-modal id="modal-1" title="Upload Music">
    <p class="my-4">Drag and Drop Files here</p>
  </b-modal>

    <b-button squared>All Songs</b-button>

    <b-button v-b-modal.modal-2 squared>Create Playlist</b-button>
    <b-modal id="modal-2" title="Create Playlist">
    <p class="my-4"></p>
  </b-modal>

    <b-dropdown right text="Playlist">
      <b-dropdown-item>Playlist 1</b-dropdown-item>
      <b-dropdown-item>Playlist 2</b-dropdown-item>
    </b-dropdown>

                 </b-button-group>
            </template>
         </b-sidebar>
    </div>
</template>



 <style>
    body {
    margin: 0;
    padding: 0;
    animation: bgcolor infinite 15s;
  }
  @keyframes bgcolor{
    0%{
      background: #0abde3 ;
    }
    20%{
      background: #48dbfb;
    }
    40%{
      background: #f368e0;
    }
    60%{
      background: #ff9ff3;
    }
    80%{
      background: #ee5253;
    }
    100%{
      background: #48dbfb;
    }
  }
    </style>